# 前端依赖
frontend/node_modules/
frontend/dist/
frontend/build/

# 后端 Python 虚拟环境
backend/pvenv/
.venv/
env/

# 后端缓存
__pycache__/
*.pyc
*.pyo
.env

# 系统/OneDrive临时文件
*.tmp
~$*
Thumbs.db
.DS_Store

# 后端日志文件
*.log